@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  @apply max-w-[1390px] mx-auto;
}

@media screen and (max-width: 1400px) {
  .container {
    @apply max-w-[1390px] mx-auto px-5;
  }
}

/* Slider Navigation 1 */
.slider-style-1-prev {
  @apply text-xl text-head p-[15px] bg-white rounded-full hover:bg-white/80 duration-300 disabled:bg-gray-300 disabled:cursor-not-allowed;
}

.slider-style-1-next {
  @apply text-xl text-head p-[15px] bg-white rounded-full hover:bg-white/80 duration-300 disabled:bg-gray-300 disabled:cursor-not-allowed;
}

/* Slider Navigation 2 and Pagination */
.slider-style-2-prev {
  @apply text-2xl text-color-2 hover:text-color-2/70 duration-300 disabled:text-gray-400 disabled:cursor-not-allowed;
}

.slider-style-2-next {
  @apply text-2xl text-color-2 hover:text-color-2/70 duration-300 disabled:text-gray-400 disabled:cursor-not-allowed;
}

.slider-style-2-pagination {
  @apply flex items-center gap-1;
}

.slider-style-2-pagination {
  width: max-content !important;
}

.slider-style-2-pagination .swiper-pagination-bullet {
  @apply bg-icon;
}

.slider-style-2-pagination .swiper-pagination-bullet-active {
  @apply bg-color-1;
}

/* Blob Classes */
.blob-1 {
  border-radius: 47% 53% 22% 78% / 73% 49% 51% 27%;
}

.text-fade {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 94.82%);
}

.max-content {
  width: max-content !important;
}
